<div class="h-100 p-5 bg-light border rounded-3">
            <h1> {{stock.companyName}} ({{stock.symbol}})</h1>
            <p class="lead">
                <strong>Latest Price: </strong>${{stock.latestPrice}}<br/>
                <strong>Previous Close: </strong>${{stock.previousClose}}<br/>
                <strong>Percent Change: </strong>{{stock.changePercent}}%<br/>
                <strong>Market Capitalization: </strong>{{stock.marketCap}}<br/>
                <strong>Year to Date Change: </strong>{{stock.ytdChange}}%<br/>
                <strong>52 Week Low: </strong>{{stock.week52Low}}<br/>
                <strong>52 Week high </strong>{{stock.week52High}}<br/>
            </p>          
            
</div>



<!--
{{#each stock}}
    {{@key}} -> {{this}}<br/>
{{/each}}

>